@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --violet-color: hsl(245, 75%, 52%);
    --dark-blue: hsl(223, 47%, 23%);
    --blue-desaturated: hsl(224, 23%, 55%);
    --white-color: hsl(225, 100%, 98%);
    --gray-color: hsl(225, 100%, 94%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (max-width: 500px){
    body {
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background:hsl(224, 23%, 55%);
        text-align: center;
    
        .main-container {
            width: 90%;
            height: 76.5%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            overflow: hidden;
            background: var(--white-color);
            box-shadow: 0px 0px 18px hsla(223, 47%, 23%, 0.563);
    
            .image {
                width: 100%;
                height: max-content;
    
                img {
                    width: 100%;
                }
            }
    
            .description {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 20px;
                text-align: center;
                h1{
                    padding: 20px 0 0;
                }
                .description-paragraph{
                    color: #666565;
                }
                .plan-section{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    background: hsla(225, 100%, 94%, 0.22);
                    border-radius: 10px;
                    .plan-info{
                        display: flex;
                        gap: 10px;
                    }
                    .change-plan{
                        display: grid;
                        align-items: center;
                        padding: 10px;
                        text-decoration: underline;
                        color: var(--violet-color);
                        &:hover{
                            color: var(--blue-desaturated);
                            cursor: pointer;
                        }
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0 0;
                    button {
                        padding: 20px;
                        border-radius: 15px;
                        border: none;
                        outline: none;
                        font-weight: bold;
                        font-size: 17px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        &.proceed-btn {
                            color: #fff;
                            background: var(--violet-color);
                            box-shadow: 0 3px 18px hsl(245, 75%, 52%);
                            &:hover{
                                background: hsl(245, 71%, 29%);
                            }
                        }
    
                        &.cancel-btn {
                            color: var(--blue-desaturated);
                            &:hover{
                                background: hsl(224, 23%, 55%);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        footer{
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            a{
                color: var(--violet-color);
                &:hover{
                    color: var(--dark-blue)
                }
            }
        }
    }
}

@media screen and (min-width: 501px){
    body {
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background:hsl(224, 23%, 55%);
        text-align: center;
    
        .main-container {
            width: 58%;
            height: 76.5%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            overflow: hidden;
            background: var(--white-color);
            box-shadow: 0px 0px 18px hsla(223, 47%, 23%, 0.563);
    
            .image {
                width: 100%;
                height: max-content;
    
                img {
                    width: 100%;
                }
            }
    
            .description {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 20px;
                text-align: center;
                h1{
                    padding: 20px 0 0;
                }
                .description-paragraph{
                    color: #666565;
                }
                .plan-section{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    background: hsla(225, 100%, 94%, 0.22);
                    border-radius: 10px;
                    .plan-info{
                        display: flex;
                        gap: 10px;
                    }
                    .change-plan{
                        display: grid;
                        align-items: center;
                        padding: 10px;
                        text-decoration: underline;
                        color: var(--violet-color);
                        &:hover{
                            color: var(--blue-desaturated);
                            cursor: pointer;
                        }
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0 0;
                    button {
                        padding: 20px;
                        border-radius: 15px;
                        border: none;
                        outline: none;
                        font-weight: bold;
                        font-size: 17px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        &.proceed-btn {
                            color: #fff;
                            background: var(--violet-color);
                            box-shadow: 0 3px 18px hsl(245, 75%, 52%);
                            &:hover{
                                background: hsl(245, 71%, 29%);
                            }
                        }
    
                        &.cancel-btn {
                            color: var(--blue-desaturated);
                            &:hover{
                                background: hsl(224, 23%, 55%);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        footer{
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            a{
                color: var(--violet-color);
                &:hover{
                    color: var(--dark-blue)
                }
            }
        }
    }
}

@media screen and (min-width: 901px){
    body {
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background:hsl(224, 23%, 55%);
        text-align: center;
    
        .main-container {
            width: 25%;
            height: 76.5%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            overflow: hidden;
            background: var(--white-color);
            box-shadow: 0px 0px 18px hsla(223, 47%, 23%, 0.563);
    
            .image {
                width: 100%;
                height: max-content;
    
                img {
                    width: 100%;
                }
            }
    
            .description {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 20px;
                text-align: center;
                h1{
                    padding: 20px 0 0;
                }
                .description-paragraph{
                    color: #666565;
                }
                .plan-section{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    background: hsla(225, 100%, 94%, 0.22);
                    border-radius: 10px;
                    .plan-info{
                        display: flex;
                        gap: 10px;
                    }
                    .change-plan{
                        display: grid;
                        align-items: center;
                        padding: 10px;
                        text-decoration: underline;
                        color: var(--violet-color);
                        &:hover{
                            color: var(--blue-desaturated);
                            cursor: pointer;
                        }
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0 0;
                    button {
                        padding: 20px;
                        border-radius: 15px;
                        border: none;
                        outline: none;
                        font-weight: bold;
                        font-size: 17px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        &.proceed-btn {
                            color: #fff;
                            background: var(--violet-color);
                            box-shadow: 0 3px 18px hsl(245, 75%, 52%);
                            &:hover{
                                background: hsl(245, 71%, 29%);
                            }
                        }
    
                        &.cancel-btn {
                            color: var(--blue-desaturated);
                            &:hover{
                                background: hsl(224, 23%, 55%);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        footer{
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            a{
                color: var(--violet-color);
                &:hover{
                    color: var(--dark-blue)
                }
            }
        }
    }
}

