@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --Veryd-arkd-esaturatedb-lue: hsl(238, 29%, 16%);
  --Softr-ed: hsl(14, 88%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 6rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  background: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
}
body .main-container {
  width: 380px;
  min-height: 536px;
  margin: 124px auto 20px;
  padding: 24px 24px 64px;
  background: var(--white);
  border-radius: 24px;
  box-shadow: 0px 15px 40px var(--Veryd-arkd-esaturatedb-lue);
}
body .main-container__s1__image {
  width: 240px;
  display: block;
  margin: -130px auto 0;
}
body .main-container__s1__image--shadow {
  content: url(/images/bg-pattern-mobile.svg);
  width: 240px;
  margin: -70px auto 0;
}
body .main-container__s2__title {
  width: -moz-max-content;
  width: max-content;
  margin: 24px auto 36px;
  font-size: 38px;
  color: var(--Veryd-arkd-esaturatedb-lue);
}
body .main-container__s2__block {
  margin: 24px 0;
  color: var(--Veryd-arkd-esaturatedb-lue);
  transition: all 0.5s;
}
body .main-container__s2__block.activo .main-container__s2__block__question__answer {
  height: 70px;
  padding: 6px 0 0;
  transition: all 1s;
}
body .main-container__s2__block.activo .main-container__s2__block__question__title {
  font-weight: bold;
}
body .main-container__s2__block.activo .main-container__s2__block__question__arrow {
  transform: rotate(180deg);
}
body .main-container__s2__block__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
}
body .main-container__s2__block__question__title {
  font-size: 16px;
  font-weight: 400;
}
body .main-container__s2__block__question__title:hover {
  color: var(--Softr-ed);
}
body .main-container__s2__block__question__answer {
  height: 0;
  overflow: hidden;
  font-weight: 300;
  transition: all 1s;
}
body .main-container__s2__block__question__arrow {
  width: 10px;
  height: 10px;
  transition: all 0.5s;
}
@media screen and (min-width: 1000px) {
  body .main-container {
    width: 920px;
    display: flex;
    padding: 2rem 2rem 6rem 2rem;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-position-x: -536px;
    background-position-y: -121px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  body .main-container__s1, body .main-container__s2 {
    width: 100%;
  }
  body .main-container__s1__image, body .main-container__s2__image {
    width: 474px;
    margin: 127px 0 0 -130px;
  }
  body .main-container__s1__image--shadow, body .main-container__s2__image--shadow {
    content: "";
  }
  body .main-container__s2 {
    padding: 4rem 4rem 0 0;
  }
  body .main-container__s2__title {
    margin: 24px 0 36px;
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */