@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;300;400;500;600;700&family=Lexend+Deca:wght@300;400;500;800&display=swap");
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0;
    background-color: #fff;
    color: #fff;
  }
  body .main {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
  }
  body .main .component {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  body .main .component .component-content {
    height: 100%;
    padding: 2rem;
  }
  body .main .component .component-content .image {
    height: 20%;
    display: flex;
    align-items: center;
  }
  body .main .component .component-content h2 {
    height: 20%;
    font-size: 40px;
    font-family: "Big Shoulders Display", cursive;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  body .main .component .component-content p {
    height: 30%;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    font-weight: 200;
  }
  body .main .component .component-content button {
    width: 70%;
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 30px;
    font-size: 15px;
    color: darkslategray;
    border: 1px solid #fff;
  }
  body .main .component .component-content.sedans {
    background: var(--bright-orange);
  }
  body .main .component .component-content.sedans .btn {
    color: var(--bright-orange);
  }
  body .main .component .component-content.sedans .btn:hover {
    color: #fff;
    background: var(--bright-orange);
    transition: all 0.5s;
  }
  body .main .component .component-content.suvs {
    background: var(--dark-cyan);
  }
  body .main .component .component-content.suvs .btn {
    color: var(--dark-cyan);
  }
  body .main .component .component-content.suvs .btn:hover {
    color: #fff;
    background: var(--dark-cyan);
    transition: all 0.5s;
  }
  body .main .component .component-content.luxury {
    background: var(--Very-dark-cyan);
  }
  body .main .component .component-content.luxury .btn {
    color: var(--Very-dark-cyan);
  }
  body .main .component .component-content.luxury .btn:hover {
    color: #fff;
    background: var(--Very-dark-cyan);
    transition: all 0.5s;
  }
  body footer {
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 30px;
    background: #111;
  }
  body footer a {
    text-decoration: overline;
    color: var(--dark-cyan);
  }
}
@media screen and (min-width: 901px) {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0;
    background-color: #fff;
    color: #fff;
  }
  body .main {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
  }
  body .main .component {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  body .main .component .component-content {
    height: 100%;
    padding: 2rem;
  }
  body .main .component .component-content .image {
    height: 20%;
    display: flex;
    align-items: center;
  }
  body .main .component .component-content h2 {
    height: 20%;
    font-size: 40px;
    font-family: "Big Shoulders Display", cursive;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  body .main .component .component-content p {
    height: 30%;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    font-weight: 200;
  }
  body .main .component .component-content button {
    width: 70%;
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid #fff;
  }
  body .main .component .component-content.sedans {
    background: var(--bright-orange);
  }
  body .main .component .component-content.sedans .btn {
    color: var(--bright-orange);
  }
  body .main .component .component-content.sedans .btn:hover {
    color: #fff;
    background: var(--bright-orange);
    transition: all 0.5s;
  }
  body .main .component .component-content.suvs {
    background: var(--dark-cyan);
  }
  body .main .component .component-content.suvs .btn {
    color: var(--dark-cyan);
  }
  body .main .component .component-content.suvs .btn:hover {
    color: #fff;
    background: var(--dark-cyan);
    transition: all 0.5s;
  }
  body .main .component .component-content.luxury {
    background: var(--Very-dark-cyan);
  }
  body .main .component .component-content.luxury .btn {
    color: var(--Very-dark-cyan);
  }
  body .main .component .component-content.luxury .btn:hover {
    color: #fff;
    background: var(--Very-dark-cyan);
    transition: all 0.5s;
  }
  body footer {
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 30px;
    background: #111;
  }
  body footer a {
    text-decoration: overline;
    color: var(--dark-cyan);
  }
}/*# sourceMappingURL=style.css.map */